NEXT_PUBLIC_SUPABASE_URL=https://ychzvbjbfmbhuanxurne.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljaHp2YmpiZm1iaHVhbnh1cm5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzMTI1MTUsImV4cCI6MjA5NTg4ODUxNX0.qoTKVKZOdloVZbxz_BMW23cZnbEE7LCo-FGZ7ddHy7g
